<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <link type="text/css" rel="stylesheet" href= {{ url_for('static', filename='css/apiForm.css') }}>
        <link type="text/css" rel="stylesheet" href= {{ url_for('static', filename='css/radio.css') }}>
        <title>NearbyLocations</title>
        <style>
            body {
                padding: 25px;
            }
        </style>
    </head>
    <body>
        
        <form action="{{url_for('apiRequest') }}" method="post">
            <div class="form__title">Nearby Locations</div>
            <div class="form__item">
                <label for='client-api-id' class="form__label">API Id:</label>
                <input type="text" class="form__input" id="client-api-id" name='client-api-id' placeholder="Enter the Foursquare API ID">
            </div>
            <div class="form__item">
                <label for='client-api-key' class="form__label">API Key:</label>
                <input type="password" class="form__input" id="client-api-key" name='client-api-key' placeholder="Enter the Foursquare API Key">
            </div>
            <div class="form__item">
                <label for='region-title' class="form__label">Region Title:</label>
                <input type="text" class="form__input" id="region-title" name="region-title" placeholder="Enter name of region (e.g Georgia Tech)">
            </div>
            <div class="form__item">
                <label for='center-location' class="form__label">Origin:</label>
                <input type="text" class="form__input" id="center-location" name="center-location" placeholder="Enter coordinates (lat,lng)">
            </div>
            <div class="form__item">
                <label for='search-radius' class="form__label">Search Radius:</label>
                <input type="number" class="form__input" id="search-radius" name="search-radius" min="1" max="100000" placeholder="Enter a search radius (Max 100,000 meters)">
            </div>
            <div class="form__item">
                <label for='num-locations' class="form__label">Num Locations:</label>
                <input type="number" class="form__input" id="num-locations" name="num-locations" min="1" max="50" placeholder="Enter max number of search results (Max 50)">
            </div>
            <div class="form__item">
                <button class="form__btn" type="submit">Request</button>
            </div>
            <div class="radios">
                <h1 class="radios__title">Select a location category:</h1>
                <input type="radio" class="radio__input" id="arts" name="building-type" value="arts">
                <label for="arts" class="radio">Arts & Entertainment</label><br>
                <input type="radio" class="radio__input" id="college" name="building-type" value="college">
                <label for="college" class="radio">College & University</label><br>
                <input type="radio" class="radio__input" id="food" name="building-type" value="food">
                <label for="food" class="radio">Food</label><br>
                <input type="radio" class="radio__input" id="nightlife" name="building-type" value="nightlife">
                <label for="nightlife" class="radio">Nightlife Spot</label><br>
                <input type="radio" class="radio__input" id="outdoors" name="building-type" value="outdoors">
                <label for="outdoors" class="radio">Outdoors & Recreation</label><br>
                <input type="radio" class="radio__input" id="travel" name="building-type" value="travel">
                <label for="travel" class="radio">Travel & Transport</label><br>
            </div>
        </form>
        <script src="/static/js/form.js"></script>
    </body>
</html>